.col-lg-4.col-md-4.col-sm-12
  #sidebar
    .sidebar__inner
      aside#secondary.widget-area
        #search-2.al-widget.widget_search
          .al-widget-content
            form.search-form
              label
                span.screen-reader-text Search for:
                input.search-field(type='search' placeholder='Search …' value='' name='s')
              input.search-submit(type='submit' value='Search')
        #recent-posts-2.al-widget.widget_recent_entries
          .al-widget-content
            .al-widget-title
              h4.bg-body Recent Posts
            ul
              li
                a(href='#') Themplate Murax
              li
                a(href='#') Blog Headline
              li
                a(href='#') Development
              li
                a(href='#') HTML and CSS
              li
                a(href='#') New post
        #archives-2.al-widget.widget_archive
          .al-widget-content
            .al-widget-title
              h4.bg-body Archives
            ul
              li
                a(href='#') August 2019
              li
                a(href='#') May 2016
        #categories-2.al-widget.widget_categories
          .al-widget-content
            .al-widget-title
              h4.bg-body Categories
            ul
              li.cat-item.cat-item-1
                a(href='#') Uncategorized
        #meta-2.al-widget.widget_meta
          .al-widget-content
            .al-widget-title
              h4.bg-body Meta
            ul
              li
                a(href='#') Site Admin
              li
                a(href='#') Log out
              li
                a(href='#')
                  | Entries
                  abbr(title='Really Simple Syndication')  RSS
              li
                a(href='#')
                  | Comments
                  abbr(title='Really Simple Syndication')  RSS