/* Section Services Circle */
@import "../../../sass/vars";
@import "../../../sass/mixins";

.services.circle {
  padding: 80px 0 145px;
  width: 100%;
  overflow: hidden;
  @media #{$mediaMedium}{
    padding: 60px 0 90px;
  }
  .title-bg {
    text-align: center;
  }
  .title-accent {
    margin-top: -90px;
    text-align: center;
  }
  .title {
    padding: 80px 0 60px;
    text-align: center;

    @media #{$mediaSmall}{
      padding: 0 0 20px;
    }

    @media #{$mediaExtraSmall}{
      padding: 0 0 0px;
    }
  }

  .container__in {
    max-width: 100%;
  }
}

@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacitya: 1;
  }
}

.circle--rotate {
  border: 3px $color_text solid;
}

.circle--slider {
  position: relative;
  .circle--rotate {
    border-radius: 50%;
    width: 40%;
    margin: 50px auto 0;
    position: relative;
    transform: rotate(0deg);
    z-index: 0;
    @media #{$mediaMedium}{
      width: 60%;
    }
    @media #{$mediaSmall}{
      width: 90%;
    }
    > li {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
      z-index: 10;
      visibility: hidden;
      .icon {
        visibility: visible;
        text-align: center;
        overflow: hidden;
        border-radius: 50%;
        height: 14%;
        width: 14%;
        margin: -7% auto;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 1);
        font-size: 35px;
        transition: .3s;
        cursor: pointer;
        position: relative;
        @media #{$mediaMedium}{
          font-size: 24px;
        }
        @media #{$mediaSmall}{
          i {
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;
          }
        }
        @media #{$mediaExtraSmall}{
          i {
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
          }
        }
        &:hover {
          i {
            color: rgba(255, 255, 255, 1);
          }
        }
        img {
          max-width: 35px;
        }
      }
    }
  }

  .block.accent .icon {
    transition: all 1s;
    background: inherit !important;
    i {
      color: rgba(255, 255, 255, 1);
    }
  }

  a {
    text-decoration: none;
  }

  .count2 li:nth-child(2) {
    transform: rotate(180deg);
  }
  .count3 li {
    &:nth-child(2) {
      transform: rotate(120deg);
    }
    &:nth-child(3) {
      transform: rotate(240deg);
    }
  }
  .count4 li {
    &:nth-child(2) {
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      transform: rotate(180deg);
    }
    &:nth-child(4) {
      transform: rotate(270deg);
    }
  }
  .count5 li {
    &:nth-child(2) {
      transform: rotate(72deg);
    }
    &:nth-child(3) {
      transform: rotate(144deg);
    }
    &:nth-child(4) {
      transform: rotate(216deg);
    }
    &:nth-child(5) {
      transform: rotate(-72deg);
    }
  }
  .count6 li {
    &:nth-child(2) {
      transform: rotate(60deg);
    }
    &:nth-child(3) {
      transform: rotate(120deg);
    }
    &:nth-child(4) {
      transform: rotate(180deg);
    }
    &:nth-child(5) {
      transform: rotate(240deg);
    }
    &:nth-child(6) {
      transform: rotate(-60deg);
    }
  }
  .count7 li {
    &:nth-child(2) {
      transform: rotate(51.5deg);
    }
    &:nth-child(3) {
      transform: rotate(103deg);
    }
    &:nth-child(4) {
      transform: rotate(154.5deg);
    }
    &:nth-child(5) {
      transform: rotate(206deg);
    }
    &:nth-child(6) {
      transform: rotate(-103deg);
    }
    &:nth-child(7) {
      transform: rotate(-51.5deg);
    }
  }
  .count8 li {
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(90deg);
    }
    &:nth-child(4) {
      transform: rotate(135deg);
    }
    &:nth-child(5) {
      transform: rotate(180deg);
    }
    &:nth-child(6) {
      transform: rotate(-135deg);
    }
    &:nth-child(7) {
      transform: rotate(-90deg);
    }
    &:nth-child(8) {
      transform: rotate(-45deg);
    }
  }
  .count9 li {
    &:nth-child(2) {
      transform: rotate(40deg);
    }
    &:nth-child(3) {
      transform: rotate(80deg);
    }
    &:nth-child(4) {
      transform: rotate(120deg);
    }
    &:nth-child(5) {
      transform: rotate(160deg);
    }
    &:nth-child(6) {
      transform: rotate(-160deg);
    }
    &:nth-child(7) {
      transform: rotate(-120deg);
    }
    &:nth-child(8) {
      transform: rotate(-80deg);
    }
    &:nth-child(9) {
      transform: rotate(-40deg);
    }
  }
  .count10 li {
    &:nth-child(2) {
      transform: rotate(36deg);
    }
    &:nth-child(3) {
      transform: rotate(72deg);
    }
    &:nth-child(4) {
      transform: rotate(108deg);
    }
    &:nth-child(5) {
      transform: rotate(144deg);
    }
    &:nth-child(6) {
      transform: rotate(-180deg);
    }
    &:nth-child(7) {
      transform: rotate(-144deg);
    }
    &:nth-child(8) {
      transform: rotate(-108deg);
    }
    &:nth-child(9) {
      transform: rotate(-72deg);
    }
    &:nth-child(10) {
      transform: rotate(-36deg);
    }
  }
  .animate-wrapper {
    width: 25%;
    height: 25%;
    @media #{$mediaMedium}{
      width: 40%;
      height: 40%;
    }
    @media #{$mediaSmall} {
      width: 60%;
      height: 60%;
    }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    .animate {
      visibility: hidden;
      .animate-title {
        text-align: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        line-height: 1.3;
        font-weight: bold;
        color: $white !important;
        width: 70%;
        @media #{$mediaMedium}{
          font-size: 24px;
        }
      }
      .animate-img {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        overflow: hidden;
        .animate-img__in {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          border-radius: 50%;
          background-repeat: no-repeat;
          z-index: 3;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-size: cover;
          background-position: 50% 50%;
          box-shadow: 0px 0px 50px rgba(0, 0, 0, .4);

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: rgba(0, 0, 0, .5);
            pointer-events: none;
          }
        }
      }
      .animate-more {
        min-width: 131px;
        overflow: hidden;
        text-align: center;
        z-index: 30;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .animate-title {
          transform: scale(.8);
          transition: 1s;
        }
      }
      &.accent {
        opacity: 1;
        visibility: visible;
        animation-name: animateOpacity;
        animation-duration: 4s;
        .animate-more {
          opacity: 1;
          visibility: visible;
          .animate-title {
            transform: scale(1);
          }
        }
        .animate-img__in {
          opacity: 1;
        }
      }
    }
  }
  .prev {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 80%;
    margin: auto;
    display: block;
    height: 62px;
    width: 30px;
    cursor: pointer;
    transition: .3s;
    &:hover {
      width: 40px;
    }
    @media #{$mediaMedium}{
      right: 90%;
    }
  }
  .next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80%;
    margin: auto;
    display: block;
    height: 62px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    &:hover {
      width: 40px;
    }
    @media #{$mediaMedium}{
      left: 90%;
    }
  }

  // Buttons

  i.left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s ease;
    & span:nth-child(1) {
      position: absolute;
      top: 35px;
      transform: translateY(-50%);
      width: 100%;
      border-radius: 3px;
      height: 2px;
      transition: all .3s ease;
    }
    & span:nth-child(2) {
      position: absolute;
      top: 38px;
      left: -1px;
      width: 12px;
      border-radius: 3px;
      height: 2px;
      transform: rotate(45deg);
      transition: all .3s ease;
    }
    @media #{$mediaSmall} {
      display: none;
    }
  }

  i.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s ease;
    & span:nth-child(1) {
      position: absolute;
      top: 35px;
      transform: translateY(-50%);
      width: 100%;
      border-radius: 3px;
      height: 2px;
      transition: all .3s ease;
    }
    & span:nth-child(2) {
      position: absolute;
      top: 29px;
      right: -1px;
      width: 12px;
      border-radius: 3px;
      height: 2px;
      transform: rotate(45deg);
      transition: all .3s ease;
    }
    @media #{$mediaSmall} {
      display: none;
    }
  }
}

.services.circle {
  .icon i {
    font-size: 35px;
    line-height: 35px;
    width: auto;
    height: auto;
  }
}