// Start Slider Owl
section.slide-top.slider-owl
    #owl-slider-2.owl-carousel.owl-theme
        //.item
        //    .video-slide
        //    #videoBg.mb_YTPlayer.isMuted(data-property="{videoURL:'https://www.youtube.com/embed/-qWRqL-IX4U',containment:'.video-slide', showControls:false, autoPlay:true, loop:true, mute:true}")
        //
        //    .slider--info
        //        .slider--info__in
        //            .slider--info__content Mirax
        //            h2.title A look into the future
        //            a.btn.accent(target='_blank' href='#')  Read More
        //
        //    .slider--slide.dark-bg
        .item
            .slider--info
                .slider--info__in
                    .slider--info__content Welcome to Mirax.
                    h2.title The easiest way to create your website
                    a.btn.accent(target='_blank' href='#') Read More

            .slider--slide.pattern-bg.dark-bg(data-image='img/contest/slide3.jpg')

        .item
            .slider--info
                .slider--info__in
                    .slider--info__content Mirax Creative Agency
                    h2.title The Power Of Bootstrap Discover It With Mirax
                    a.btn.accent(target='_blank' href='#') Read More

            .slider--slide.pattern-bg.dark-bg(data-image='img/contest/slide2.jpg')

    img.slider--mouse(src='img/contest/mouse.svg' alt='mouse')
// End Slider Owl