/* Section Video */
@import "../../../sass/vars";
@import "../../../sass/mixins";

.video {
  padding: 220px 0;
  position: relative;
  z-index: 1;

  @media #{$mediaMedium}{
    padding: 60px 0;
  }

  .title {
    color: $white;
    padding: 0 0 30px;
    @media #{$mediaMedium}{
      padding: 25px 0 10px;
      color: $color_text;
    }
  }
  .content {
    color: $white;
    max-width: 510px;
    position: relative;
    @media #{$mediaMedium}{
      max-width: 100%;
      text-align: justify;
      color: $color_text;
    }
  }
}

.video__in {
  display: flex;
}

.video-bg {
  position: absolute;
  top: -110px;
  left: -200px;
  right: 0px;
  bottom: -110px;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  &-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
  }
  @media #{$mediaMedium}{
    display: none;
  }
}

.video-block {
  width: 460px;
  height: 460px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 16px 32px 0px rgba(128, 128, 128, 0.2);
  background: #cecece;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  @media #{$mediaMedium} {
   height: 250px;
  }
  .btn-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
  }
  &:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
  }
}


// Magnific Popup
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.mfp-bg{
  opacity: .9;
}

.video-center{
  display: flex;
  flex-direction:column;
  justify-content: center;
  height: 100%;
}