<!-- Start Video-->

section#video.video
    .container__in
        .row.video__in
            .col-lg-6.col-md-12.col-sm-12
                .video-block.wow.fadeInLeft(data-wow-delay='.2s' data-image='img/contest/video_img.jpg' )
                    a.btn-video.play-youtube.accent(href='https://www.youtube.com/watch?v=w3Y4WgqByL8')
                        i.fa.fa-play
            .col-lg-6.col-md-12.col-sm-12
                .video-bg.wow.fadeInRight(data-wow-delay='.1s' data-image='img/contest/video_bg.jpg')
                    .video-bg-color.accent
                .video-center
                    .title.wow.fadeInUp(data-wow-delay='.2s') Our Working Process
                    .content.wow.fadeInUp(data-wow-delay='.2s')
                        p
                            | Firstly, our designers create the concept of a template, which can be changed and modified.
                            | Then our developers begin to work on implementing the template’s final look and features.
                            | Finally, our QA experts make sure that everything works perfectly just as you would expect.
<!-- End Video-->