<!-- Start Reviews-->
section#reviews.reviews
    .container__in
        .title.wow.fadeInUp(data-wow-delay='.2s') Our clients’ reviews
        #slider-reviews.owl-carousel.owl-theme
            .item
                .reviews-left.wow.fadeInLeft(data-wow-delay='.2s')
                    .reviews-comment
                        i.fa.fa-quote-left
                        .p This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Mirax is my number one choice!
                        .reviews-name.dark-color Yulia Pong. Manager.
                .reviews-right.wow.fadeInRight(data-wow-delay='.2s')
                    .block-bg(data-image='img/contest/reviews_1.jpg')
            .item
                .reviews-left.wow.fadeInLeft(data-wow-delay='.2s')
                    .reviews-comment
                        i.fa.fa-quote-left
                        .p Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
                        .reviews-name.dark-color Kate Smith. Seller.
                .reviews-right.wow.fadeInRight(data-wow-delay='.2s')
                    .block-bg(data-image='img/contest/reviews_2.jpg')


<!-- End Reviews-->