/* Section Reviews */
@import "../../../sass/vars";
@import "../../../sass/mixins";

.reviews {
  background-size: cover;
  padding: 110px 0;
  @media #{$mediaMedium}{
    padding: 60px 0;
  }

  &__in {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .title {
    text-align: center;
  }

  #slider-reviews {
    margin: 45px auto 40px;
    padding-bottom: 20px;
    width: 90%;
    @media #{$mediaMedium}{
      padding-bottom: 0;
      width: 100%;
    }
    @media #{$mediaExtraSmall}{
      padding-bottom: 10px;
    }
    }

  &-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    @media #{$mediaExtraSmall}{
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .item {
    display: flex;
    flex-wrap: wrap;
  }
  &-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-left: 30px;
    @media #{$mediaExtraSmall}{
      width: 100%;
    }
  }

  .block-bg {
    height: 480px;
    width: 100%;
    background-size: contain;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    @media #{$mediaSmall}{
      height: 380px;
    }
    @media #{$mediaExtraSmall}{
      height: 280px;
    }
  }

  &-comment {
    margin: auto;
    text-align: justify;
    position: relative;
    font-size: 17px;
    padding: 40px;
    @media #{$mediaExtraSmall}{
      padding: 0;
    }
  }

  .fa-quote-left {
    font-size: 30px;
    padding: 0 0 40px;
  }

  &-name {
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    margin: 40px 0 0;
  }

  .owl-dots {
    position: absolute;
    height: 30px;
    right: 20px;
    left: 20px;
    bottom: -40px;
    display: flex;
    justify-content: center;
  }
  .owl-dot {
    outline: none;
    span {
      display: block;
      width: 10px;
      height: 10px;
      margin: 5px 3px;
      border-radius: 20px;
      background-color: initial;
      opacity: 1;
      border: 1px rgba(0, 0, 0, 0.2) solid;
    }
  }
  .owl-dot.active span {
    border: 1px rgba(0, 0, 0, 0.4) solid;
  }
}


