/* Section Contacts */
@import "../../../sass/vars";
@import "../../../sass/mixins";

.contact-2 {
  position: relative;
  padding: 110px 0;
  background-size: cover;
  background-repeat: no-repeat;

  @media #{$mediaMedium}{
    padding: 60px 0;
  }
  .title{
    margin-top: 60px;
    text-align: center;
    color: $white;
  }
  .blog-top__line{
    margin-bottom: 80px;
    @media #{$mediaSmall}{
      margin-bottom: 40px;
    }
  }
  .contact__top {
    display: flex;
  }

  #cf-manual {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 80px 0px;
    position: relative;
    @media #{$mediaLarge}{
      padding: 20px 20px 15px;
    }
    @media #{$mediaSmall}{
      padding: 20px 20px 5px;
    }
    .btn{
      background: transparent;
      border: 1px solid $white;
      transition: .3s;
      box-shadow: none;
      &:hover{
        background: $white;
        color: $color_text !important;
        box-shadow: none;
      }
    }
  }

  .contact__title {
    font-size: 36px;
    color: $white;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 15px;
    @media #{$mediaMedium}{
      text-align: center;
    }
    @media #{$mediaSmall}{
      font-size: 24px;
    }
  }
  .contact__content {
    color: $white;
    margin-bottom:20px;
    @media #{$mediaSmall}{
      text-align: center;
    }
  }

  input,
  textarea {
    background: transparent;
    font-size: 14px;
    font-family: $default-font;
    color: $white;
    outline: none;
    border: 1px solid $white;
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    transition: all .3s ease;
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
    &:focus {
      border-color: $white;
      color: $white;
    }
  }

  input[type = submit] {
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;
    height: 60px;
    line-height: 60px;
  }
  textarea {
    margin: 10px 0;
    resize: vertical;
    height: 160px;
  }
  label {
    color: $white;
    font-size: 14px;
    padding: 5px 0;
  }
  .wpcf7-form-control-wrap {
    width: 100%;
    display: block;
  }
  .wpcf7-not-valid-tip {
    color: #f00;
    font-weight: normal;
    display: block;
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 12px;
  }
  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    margin: 0 0 15px;
    color: $white;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }

  .contact__block {
    padding: 10px 0;
    position: relative;
    display: flex;
    overflow: hidden;
    @media #{$mediaMedium}{
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      max-width: 100%;
      padding: 0 10px;
      flex-direction: column;
      .contact__icon {
        padding-right: 0;
      }
    }
  }

  .contact__block-left {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .contact__block-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }

  .contact__icon {
    width: 40px;
    font-size: 24px;
    color: $white;
    @media #{$mediaMedium}{
      width: auto;
      padding-right: 15px;
    }
  }

  .contact__info {
    font-size: 16px;
    overflow: hidden;
    color: $white;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media #{$mediaMedium}{
      font-size: 16px;
    }
  }

  .contact__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .entry-content {
    p {
      padding: 0;
    }
  }
  .ajax-loader {
    display: none;
  }
}

#map {
  height: 100%;
  width: 100%;

  .gmnoprint,
  .gm-control-active {
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.7);
  }
}

.form__result {
  display: none;
  color: $white;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  border: 1px dashed $white;
}

input[type="submit"] {
  display: table;
  min-width: 100px;
  line-height: 45px;
  color: $white !important;
  font-size: 14px;
  border-radius: 30px;
  text-transform: uppercase;
  transition: .2s ease;
  cursor: pointer;
  user-select: none;
  letter-spacing: 3px;
  outline: none;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 0 20px;
  position: relative;
  &:hover {
    box-shadow: inset 0px 0px 0px 30px rgba(30, 30, 30, 0.2);
  }
  &:active {
    box-shadow: inset 0px 0px 0px 30px rgba(30, 30, 30, 0.3);
  }
  @media #{$mediaMedium}{
    line-height: 40px;
    border-width: 2px;
    font-size: 12px;
  }
}