/* Styles Footer */


@import "../../../sass/vars";
@import "../../../sass/mixins";

.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  color: $white;
  z-index: -1;

  @media #{$mediaMedium}{
    padding: 60px 0 0;
  }
  @media #{$mediaExtraSmall}{
    position: relative;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    @media #{$mediaSmall}{
      flex-direction: column;
    }
  }

  &__menu {
    padding-left: 60px;
    &-item {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    @media #{$mediaMedium}{
      padding-left: 0;
      width: 50%;
      text-align: center;
    }
    @media #{$mediaSmall}{
      width: 100%;
      padding-bottom: 25px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 25px;
    @media #{$mediaMedium}{
      padding-bottom: 0;
      text-align: center;
    }
  }

  &__about {
    max-width: 500px;
    padding-right: 80px;
    @media #{$mediaMedium}{
      max-width: 100%;
      margin-bottom: 20px;
      padding-right: 0;
      text-align: center;
    }
  }

  &__text {
    font-size: 12px;
    font-family: $default-font;
    padding-bottom: 12px;
    line-height: 26px;
  }

  &__li {
    text-decoration: none;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-size: 12px;
    font-family: $default-font;
    color: inherit;
    line-height: 36px;
    transition: all .3s ease;
    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    margin: 30px auto 0px;

    @media #{$mediaMedium}{
      margin-top: 30px;
    }
    @media #{$mediaSmall}{
      margin-top: 0;
      padding: 32px 10px;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    margin-bottom:30px;
  }
}

.copyright {
  font-size: 12px;
  font-family: $default-font;
  font-weight: 500;
  text-align: center;
  &__link {
    color: $white;
    text-decoration: none;
    padding: 0 3px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.socials__link {
  color: inherit;
  margin: 0 10px;
  transition: all .3s ease;
  display: block;
  &:hover {
    margin-top: -2px;
  }
}

