<!-- Start Team-->

section#team.team.bg-light
    .container__in
        .title.wow.fadeInUp(data-wow-delay='.2s') Our Team
        .team__item.wow.fadeInUp(data-wow-delay='.2s')
            .team-block(data-caption='<div class="team-block__item">\n' +
            '                  <div class="team__name">Kate Alonso</div>\n' +
            '                  <div class="team__position">Designer</div>\n' +
            '                  <div class="team__content">\n' +
            '                    It is a long established fact that a reader will be distracted by\n' +
            '                    the readable content of a page.\n' +
            '                  </div>\n' +
            '                  <div class="team__socials"><a class="team__socials--link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-firefox" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-forumbee" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-github" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></div>\n' +
            '                </div>')
                .team__img(data-image='img/contest/team_2.jpg')
            .team-block(data-caption='<div class="team-block__item">\n' +
            '                  <div class="team__name">Jane Wilson</div>\n' +
            '                  <div class="team__position">Senior Designer</div>\n' +
            '                  <div class="team__content">\n' +
            '                    It is a long established fact that a reader will be distracted by\n' +
            '                    the readable content of a page.\n' +
            '                  </div>\n' +
            '                  <div class="team__socials"><a class="team__socials--link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-firefox" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-forumbee" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-github" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></div>\n' +
            '                </div>')
                .team__img(data-image='img/contest/team_3.jpg')
            .team-block(data-caption='<div class="team-block__item">\n' +
            '                  <div class="team__name">Roberto Alonso</div>\n' +
            '                  <div class="team__position">Lead Developer</div>\n' +
            '                  <div class="team__content">\n' +
            '                    It is a long established fact that a reader will be distracted by\n' +
            '                    the readable content of a page.\n' +
            '                  </div>\n' +
            '                  <div class="team__socials"><a class="team__socials--link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-firefox" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-forumbee" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-github" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></div>\n' +
            '                </div>')
                .team__img(data-image='img/contest/team_4.jpg')
            .team-block(data-caption='<div class="team-block__item">\n' +
            '                  <div class="team__name">David Bond</div>\n' +
            '                  <div class="team__position">Developer</div>\n' +
            '                  <div class="team__content">\n' +
            '                    It is a long established fact that a reader will be distracted by\n' +
            '                    the readable content of a page.\n' +
            '                  </div>\n' +
            '                  <div class="team__socials"><a class="team__socials--link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-firefox" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-forumbee" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-github" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></div>\n' +
            '                </div>')
                .team__img(data-image='img/contest/team_5.jpg')
            .team-block(data-caption='<div class="team-block__item">\n' +
            '                  <div class="team__name">Carl Smith</div>\n' +
            '                  <div class="team__position">Developer</div>\n' +
            '                  <div class="team__content">\n' +
            '                    It is a long established fact that a reader will be distracted by\n' +
            '                    the readable content of a page.\n' +
            '                  </div>\n' +
            '                  <div class="team__socials"><a class="team__socials--link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-firefox" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-forumbee" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-github" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></div>\n' +
            '                </div>')
                .team__img(data-image='img/contest/team_6.jpg')
            .team-block(data-caption='<div class="team-block__item">\n' +
            '                  <div class="team__name">Amanda Smith</div>\n' +
            '                  <div class="team__position">Founder, Managing Director</div>\n' +
            '                  <div class="team__content">\n' +
            '                    It is a long established fact that a reader will be distracted by\n' +
            '                    the readable content of a page.\n' +
            '                  </div>\n' +
            '                  <div class="team__socials"><a class="team__socials--link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-firefox" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-forumbee" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-github" aria-hidden="true"></i></a><a class="team__socials--link" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></div>\n' +
            '                </div>')
                .team__img(data-image='img/contest/team_1.jpg')


<!-- End Team-->