<!-- Start About-->
section#about.about
    .container__in
        .about_info
            .row
                .col-lg-6.col-md-12.col-sm-12
                    .about-center
                        .title.dark-color.wow.fadeInUp(data-wow-delay='.2s') About Us
                        .content.wow.fadeInUp(data-wow-delay='.2s')
                            | We are a team of professional, energetic individuals with talented designers and experienced managers available to guide our clients through the flawless and timely execution of any web design project. Since day one, we have been delivering creative and unique websites to our clients worldwide.
                        .about-project.wow.fadeInUp(data-wow-delay='.2s')
                            .about-project__item
                                .about-count.color-accent
                                    | 777
                                    span.about-plus.color-accent +
                                .about-project__title
                                    | Project done
                            .about-project__item
                                .about-count.color-accent
                                    | 333
                                    span.about-plus.color-accent +
                                .about-project__title
                                    | PROJECT PROCESS
                            .about-project__item
                                .about-count.color-accent
                                    | 1000
                                    span.about-plus.color-accent +
                                .about-project__title
                                    | SUCCESSFUL PROJECTS
                .col-lg-6.col-md-12.col-sm-12
                    .row.about__item.wow.fadeInRight(data-wow-delay='.2s')
                        .about__img(data-image='img/contest/about_img_1.jpg')
                        .about__img(data-image='img/contest/about_img_2.jpg')
                        .about__img(data-image='img/contest/about_img_3.jpg')
                        .about__img(data-image='img/contest/about_img_4.jpg')


<!-- End About-->
