/* Section Price */
@import "../../../sass/vars";
@import "../../../sass/mixins";

.price {
  padding: 110px 0 120px;
  position: relative;
  @media #{$mediaMedium}{
    padding: 60px 0;
  }
  .price__in {
    display: flex;
  }
  .container__in {
    position: relative;
  }
  .title-bg {
    position: absolute;
    top: 0;
    left: 5px;
  }
  .title-accent {
    padding-top: 155px;
    margin-left: 5px;
  }
  .title {
    text-align: center;
  }
  .btn-double {
    margin-top: 35px;
    @media #{$mediaSmall} {
      margin: 35px auto 0;
    }
  }
  .content {
    max-width: 360px;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    @media #{$mediaLarge} {
      max-width: 350px;
    }
    @media #{$mediaSmall} {
      max-width: 100%;
      text-align: justify;
    }
  }

}

.price-right {
  display: flex;
}

.price-block {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  width: 300px;
  padding-bottom: 60px;
  z-index: 5;
  position: relative;
  margin: 45px 10px 0;
  transition: 0.3s;
  &:nth-child(2) {
    transform: scale(1.05);
  }
  @media #{$mediaLarge} {
    &:nth-child(2) {
      transform: scale(1);
    }
  }
  @media #{$mediaSmall} {
    max-width: 100%;

  }
  .title-accent {
    padding-top: 60px;
    padding-bottom: 30px;
    @media #{$mediaMedium} {
      display: block;
      padding: 30px 0 !important;
    }
  }
  .price-block__cost {
    font-size: 16px;
    font-family: $default-font;
    line-height: 1;
    margin-bottom: 47px;
    span {
      font-size: 40px;
      font-weight: bold;
      padding-right: 5px;
    }
  }
  .price-block__string p {
    font-size: 14px;
    font-family: $default-font;
    line-height: 1;
    padding-bottom: 26px;
  }
  .btn {
    margin: 15px auto 0;
  }
}

.price-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}