<!-- Start Price-->

section#price.price
    .container__in
        .title.dark-color.wow.fadeInUp(data-wow-delay='.2s') Pricing Plan

        .price-wrap
            .price-block.wow.fadeInUp(data-wow-delay='.2s')
                .title-accent.color-accent FREE
                .price-block__cost
                    span.dark-color $0.00
                    | /month
                .price-block__string
                    p 10 GB Hosting
                    p 2+ Free Domain
                    p 100+ Email Account
                    p 24/7 Online Support
                a.btn.accent(target='_blank') Get in Touch
            .price-block.wow.fadeInUp(data-wow-delay='.2s')
                .title-accent.color-accent Basic
                .price-block__cost
                    span.dark-color $30.00
                    | /month
                .price-block__string
                    p 10 GB Hosting
                    p 6+ Free Domain
                    p 100+ Email Account
                    p 24/7 Online Support
                a.btn.accent(target='_blank') Get in Touch
            .price-block.wow.fadeInUp(data-wow-delay='.2s')
                .title-accent.color-accent Premium
                .price-block__cost
                    span.dark-color $90.00
                    | /year
                .price-block__string
                    p 10 GB Hosting
                    p 12+ Free Domain
                    p 100+ Email Account
                    p 24/7 Online Support
                a.btn.accent(target='_blank') Get in Touch


<!-- End Price-->