<!-- Start Portfolio-->

section#portfolio.portfolio.bg-light
    .container__in
        .title.dark-color.wow.fadeInUp(data-wow-delay='.2s') Our Portfolio
        .portfolio__in.wow.fadeInUp(data-wow-delay='.2s')
            .portfolio__box
                ul.filter
                    li.filter__btn.filter__btn_active(data-filter='*')
                        span.accent
                        | all
                    li.filter__btn(data-filter='.web')
                        span
                        | web
                    li.filter__btn(data-filter='.branding')
                        span
                        | branding
                    li.filter__btn(data-filter='.ux')
                        span
                        | ux
                    li.filter__btn(data-filter='.illustration')
                        span
                        | illustration
                #isotope.row.wow.fadeInUp(data-wow-delay='.2s')
                    .portfolioBox
                        .portfolioBox__in(data-image='img/contest/portfolio_1.jpg')
                        .portfolioBox__info
                            .title-accent.color-accent illustration web
                            a.portfolioBox__btn(href='#')
                                i.fa.fa-link(aria-hidden='true')
                    .portfolioBox.illustration.web
                        .portfolioBox__in(data-image='img/contest/portfolio_3.jpg')
                        .portfolioBox__info
                            .title-accent.color-accent illustration web
                            a.portfolioBox__btn(href='#')
                                i.fa.fa-link(aria-hidden='true')
                    .portfolioBox.branding
                        .portfolioBox__in(data-image='img/contest/portfolio_2.jpg')
                        .portfolioBox__info
                            .title-accent.color-accent branding
                            a.portfolioBox__btn(href='#')
                                i.fa.fa-link(aria-hidden='true')
                    .portfolioBox.branding.ux
                        .portfolioBox__in(data-image='img/contest/portfolio_4.jpg')
                        .portfolioBox__info
                            .title-accent.color-accent branding ux
                            a.portfolioBox__btn(href='#')
                                i.fa.fa-link(aria-hidden='true')
                    .portfolioBox.web
                        .portfolioBox__in(data-image='img/contest/portfolio_5.jpg')
                        .portfolioBox__info
                            .title-accent.color-accent web
                            a.portfolioBox__btn(href='#')
                                i.fa.fa-link(aria-hidden='true')
                    .portfolioBox.branding.web
                        .portfolioBox__in(data-image='img/contest/portfolio_6.jpg')
                        .portfolioBox__info
                            .title-accent.color-accent branding web
                            a.portfolioBox__btn(href='#')
                                i.fa.fa-link(aria-hidden='true')

<!-- End Portfolio-->
