// Start Slider Video

section.slide-top.slider-video
    #video-slider
        .video-slide
        #videoBg.mb_YTPlayer.isMuted(data-property="{videoURL:'https://www.youtube.com/embed/-qWRqL-IX4U',containment:'.video-slide', showControls:false, autoPlay:true, loop:true, mute:true}")

        .slider--info
            .slider--info__in
                .slider--info__content Mirax
                h2.title A look into the future
                a.btn.accent(target='_blank' href='#')  Read More

        .slider--slide.dark-bg

    img.slider--mouse(src="img/contest/mouse.svg" alt="")

// End Slider Video