<!-- Start Partners-->
section#partners.partners
    .title.wow.fadeInUp(data-wow-delay='.2s') Our Partners
    .container__in.wow.fadeInUp(data-wow-delay='.2s')
        #slider_partners.partners__item.owl-carousel.owl-theme
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_1.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_2.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_3.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_4.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_5.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_6.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_4.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_5.png', alt='')
            .item
                .partners__logo
                    a.partners__link(href='#')
                        img(src='img/contest/logo_6.png', alt='')
<!-- End Partners-->