<!-- Start Header-->
header.header.bg-header(data-sticly='on')
    .header__in
        .header__logo
            .header__logo_link
                a.custom-logo-link(href='index.html')
                    img.custom-logo(src='img/contest/logo.png' alt='Mirax' itemprop='logo')
        ul#menu-primary-menu.header__menu
            li.mobile-logo
                a.header__logo_link(href='/')
                    img.header__logo_img(src='img/contest/logo.png' alt='logo image')
            li.menu-item-wrap
                ul.menu-item-ul
                    li.menu-item.menu-item-has-children
                        a.header__menu_link(href='index.html') Home
                    li.menu-item.menu-item-has-children
                        a.header__menu_link(href='index.html') Pages front
                        span.drop-menu
                            i.fa.fa-angle-down
                        ul.sub-menu.accent
                            li.menu-item
                                a.header__menu_link(href='index_burger_menu.html') Front Page Burger Menu
                            li.menu-item
                                a.header__menu_link(href='index_canvas_particles.html') Front Page Canvas Lines
                            li.menu-item
                                a.header__menu_link(href='index_canvas_dots.html') Front Page Canvas Dots
                            li.menu-item
                                a.header__menu_link(href='index_bg_video.html') Front Page Video
                    li.menu-item.menu-item-has-children
                        a.header__menu_link(href='#') Pages
                        span.drop-menu
                            i.fa.fa-angle-down
                        ul.sub-menu.accent
                            li.menu-item
                                a.header__menu_link(href='services.html') Services
                            li.menu-item
                                a.header__menu_link(href='contacts.html') Contacts
                            li.menu-item
                                a.header__menu_link(href='404.html') Page 404
                    li.menu-item.menu-item-has-children
                        a.header__menu_link(href='blog.html') Blog
                        span.drop-menu
                            i.fa.fa-angle-down
                        ul.sub-menu.accent
                            li.menu-item
                                a.header__menu_link(href='blog.html') Page posts
                            li.menu-item
                                a.header__menu_link(href='page.html') Blog page
            li
                ul.menu__social
                    li
                        a.socials__link(href='#')
                            i.fa.fa-facebook(aria-hidden='true')
                    li
                        a.socials__link(href='#')
                            i.fa.fa-twitter(aria-hidden='true')
                    li
                        a.socials__link(href='#')
                            i.fa.fa-behance(aria-hidden='true')
        .burger
            .burger__in


<!-- End Header-->