<!-- Start Services-->

section#services.services
    .container__in
        .row.services-block__item
            .col-lg-4.col-md-6.col-sm-12
                .services-block( data-caption='<div class="services-block__hover">' +
                '<a class="services-block__link" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>' +
                '</div>')
                    .services-block__title Graphic Design
                    .content.services-block__content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-lg-4.col-md-6.col-sm-12
                .services-block( data-caption='<div class="services-block__hover">' +
                '<a class="services-block__link" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>' +
                '</div>')
                    .services-block__title Web Development
                    .content.services-block__content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut labore et dolore magna aliqua.
            .col-lg-4.col-md-6.col-sm-12
                .services-block( data-caption='<div class="services-block__hover">' +
                '<a class="services-block__link" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>' +
                '</div>')
                    .services-block__title Brand Identity
                    .content.services-block__content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-lg-4.col-md-6.col-sm-12
                .services-block( data-caption='<div class="services-block__hover">' +
                '<a class="services-block__link" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>' +
                '</div>')
                    .services-block__title Logo Design
                    .content.services-block__content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sint ista Graecorum;
            .col-lg-4.col-md-6.col-sm-12
                .services-block( data-caption='<div class="services-block__hover">' +
                '<a class="services-block__link" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>' +
                '</div>')
                    .services-block__title SEO Service
                    .content.services-block__content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-lg-4.col-md-6.col-sm-12
                .services-block( data-caption='<div class="services-block__hover">' +
                '<a class="services-block__link" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>' +
                '</div>')
                    .services-block__title Consultancy
                    .content.services-block__content
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sint ista Graecorum; Ego vero isti, inquam, permitto. Eadem nunc mea adversum te oratio est. Sed ille, ut dixi, vitiose.

<!-- End Services-->
