/* Styles Main Page */
@import "../../../sass/vars";
@import "../../../sass/mixins";

/* Global CSS */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

*::-webkit-input-placeholder {
  color: $white;

  opacity: 1;
}

*:-moz-placeholder {
  color: $white;
  opacity: 1;
}

*::-moz-placeholder {
  color: $white;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: $white;
  opacity: 1;
}

*:focus::-webkit-input-placeholder {
  color: transparent;
}

*:focus::-moz-placeholder {
  color: transparent;
}

*:focus:-moz-placeholder {
  color: transparent;
}

*:focus:-ms-input-placeholder {
  color: transparent;
}

input[type="search"], input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  -webkit-appearance: none;
}

html {
  font-size: $mainFontSize;
  margin: 0 !important;
  margin-top: 0 !important;
  @media #{$mediaMedium} {
    font-size: 16px;
  }
  @media #{$mediaMedium} {
    font-size: 15px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: $default-font;
  font-size: 16px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  line-height: 1.8;
  overflow-x: hidden;
  opacity: 1;
  color: $color_text;
  background: $white;
  letter-spacing: .7px;
}

#primary {
  flex: 1 1 auto;
  padding: 100px 0 0;
  background: $white;
  z-index: 1;
  background: $white;
  position: relative;
  @media #{$mediaExtraSmall}{
    box-shadow: none;
    margin-bottom: 0 !important;
  }
}

.page-template-landing-page #primary {
  flex: 1 1 auto;
  padding: 0;
}

#primary.page-full-width {
  padding: 0;
}

.container {
  &__in {
    width: 1366px;
    max-width: 90%;
    margin: 0 auto;
    @media #{$mediaLarge} {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media #{$mediaMedium} {
      padding-left: 0;
      padding-right: 0;
      max-width: 95%;
    }
    @media #{$mediaExtraSmall}{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

a {
  color: $accent_color;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 1.6;
  @media #{$mediaExtraSmall}{
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.6;
  @media #{$mediaExtraSmall}{
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  line-height: 1.6;
  @media #{$mediaExtraSmall}{
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.6;
  @media #{$mediaExtraSmall}{
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.6;
  @media #{$mediaExtraSmall}{
    font-size: 18px;
  }
}

h6 {
  font-size: 16px;
  line-height: 1.6;
}

p {
  line-height: 1.8;
}

li > ul, li > ol {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

// Preloader Style

.preloader {
  background: #ffffff;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-height: 100px;
  }
}

// WordPress Reset Style
.page-content, .entry-content, .entry-summary, .post, .page {
  margin: 0 !important;
}

// Colors Themes
.color-accent {
  color: $accent_color;
}

.accent {
  background: $accent_color;
}

.bg-light {
  background: $bg_block_color
}

.bg-header {
  background: #0a0757;
}

.dark-color,
.icon {
  color: $color_text;
}

.fw-page-builder-content {
  overflow: hidden;
}

input[type=submit], .btn {
  background: $accent_color;;
}

.wp-block-button__link {
  background: $accent_color;;
}

.accent,
.circle--slider i.left span,
.circle--slider i.right span {
  background: $accent_color;;
}

.color-accent {
  color: $accent_color;;
}

#primary a {
  color: $accent_color;;
}

.bg-light {
  background: $bg_block_color;
}

.bg-body {
  background: $white;
}

.bg-header,
.icon {
  background: $bg_elements;
}

.circle--rotate {
  border-color: $bg_elements;
}

header.header,
footer.footer {
  color: $header_text_color;
}

body,
.dark-color {
  color: $color_text;
}

.dark-bg {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.pattern-bg {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/contest/bg_slider.png) repeat;
  }
}

.title {
  font-size: rem(60);
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  padding-top: 15px;
  line-height: 1;
  &--white {
    color: #fff;
  }
  &--center {
    text-align: center;
  }
  @media #{$mediaMedium} {
    text-align: center;
    padding-top: 0;

  }
  @media #{$mediaSmall} {
    font-size: rem(40);
    line-height: rem(50);
  }
}

.title-bg {
  font-size: rem(200);
  color: $title_bg_color;
  font-weight: bold;
  line-height: 1;
  @media #{$mediaMedium} {
    font-size: rem(170);
    text-align: center;
  }
  @media #{$mediaMedium} {
    font-size: rem(100);
    position: relative !important;
    letter-spacing: -2px;
    top: 0 !important;
    display: none;
  }
  @media #{$mediaSmall} {
    font-size: rem(80);
    position: relative !important;
    top: 0 !important;
  }
}

.title-accent {
  font-size: rem(14);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.8px;
  position: relative;
  @media #{$mediaMedium} {
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    padding: 0 !important;
    text-align: center;
    display: none;
  }
}

.content {
  font-size: 16px;
  line-height: 26px;
  font-family: $default-font;
}

.subtitle-icon {
  text-align: center;
}

