footer.footer.bg-header
   .container__in
     .row.footer__item
       .col-lg-5.col-md-12.col-sm-12
         .footer__about
           .footer__title
             | About Mirax
           .footer__text
             p
               |Mirax is HTML template that fits for both developers and beginners. It comes loaded with an assortment of tools and features that make customization process much easier. A pack of child themes, specially designed for various business niches, allows users to create a fully functional site for any specific business quickly and worry-free.
       .col-lg-7.col-md-12.col-sm-12
         .footer__menu-item
           .footer__menu
             .footer__title Services
             ul.footer__ul
               li.footer__li
                 a.footer__link(href='#') Consultancy
               li.footer__li
                 a.footer__link(href='#') Web Development
               li.footer__li
                 a.footer__link(href='#') UI/UX Design
               li.footer__li
                 a.footer__link(href='#') Redesign
               li.footer__li
                 a.footer__link(href='#') Logo Design
           .footer__menu
             .footer__title Our Work
             ul.footer__ul
               li.footer__li
                 a.footer__link(href='#') Logo Design
               li.footer__li
                 a.footer__link(href='#') Consultancy
               li.footer__li
                 a.footer__link(href='#') Web Development
               li.footer__li
                 a.footer__link(href='#') UI/UX Design
     .footer__bottom

       ul.footer__social
         li
           a.socials__link(href='#')
             i.fa.fa-facebook(aria-hidden='true')
         li
           a.socials__link(href='#')
             i.fa.fa-twitter(aria-hidden='true')
         li
           a.socials__link(href='#')
             i.fa.fa-behance(aria-hidden='true')
       .copyright Copyright &copy; 2019 Mirax. All Rights Reserved.
