doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon' href='img/contest/favicon/favicon.ico' type='image/x-icon')
        link(rel='stylesheet', href='css/main.min.css')
    body.body.blog
        .preloader
            img(src="img/contest/preloader.GIF")

        include ../layouts/header/index
        .blog-top.bg-fixed(data-image='img/contest/slide4.jpg')
            span.blog-top__bg
            h2.blog-top__title Blog
            span.blog-top__line

        #primary.content-area
            main#main.site-main
                .container__in
                    .row
                        .col-lg-8.col-md-8.col-sm-12
                            .blog-block
                                .blog-block__content
                                    .blog-block__info
                                        #post-122.post-122.post.type-post.status-publish.format-standard.has-post-thumbnail.sticky.hentry.category-uncategorized
                                            h3.title-blog
                                                a(href='#' rel='bookmark') Our office
                                            .info-post
                                                span.info-post__data
                                                    | Posted on
                                                    a(href='#' rel='bookmark')
                                                        time.entry-date.published(datetime='2019-08-19T20:40:23+00:00') August 19, 2019
                                                        time.updated(datetime='2019-08-29T12:49:50+00:00') August 29, 2019
                                                span.info-post__author
                                                    span.byline
                                                        |  by
                                                        span.author
                                                            a.author-url(href='#')  admin
                                                span  in
                                                span.info-post__category
                                                    a(href='#')  Uncategorized
                                            .img-wrap
                                                img.blog-block__img(alt='img-blog-block' src='img/contest/slide3.jpg')
                                            .blog-block__text
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Quoniam igitur, ut medicina valitudinis, navigationis gubernatio, sic vivendi ars est prudente, necesse est eam quoque ab aliqua re esse constitutam et profectam. Illud mihi a te nimium festinanter dictum videtur, sapientis omnis esse semper beatos; Nondum autem explanatum satis, erat, quid maxime natura vellet. Atque hoc dabitis, ut opinor, si modo sit aliquid esse beatum, id oportere totum poni in potestate sapientis. Idcirco enim non desideraret, quia, quod dolore caret, id in voluptate est. Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Non quaeritur autem quid naturae tuae consentaneum sit, sed quid disciplinae. Duo Reges: constructio interrete. Et quidem saepe quaerimus verbum Latinum par Graeco et quod idem valeat; A mene tu? In omni enim arte vel studio vel quavis scientia vel in ipsa virtute optimum quidque rarissimum est. Qui ita affectus, beatum esse numquam probabis;
                                                p
                                                    | Zenonis est, inquam, hoc Stoici. Num igitur dubium est, quin, si in re ipsa nihil peccatur a superioribus, verbis illi commodius utantur? Que Manilium, ab iisque M. Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit? Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Crasso, quem semel ait in vita risisse Lucilius, non contigit, ut ea re minus agelastoj ut ait idem, vocaretur. Idem iste, inquam, de voluptate quid sentit? Sed haec ab Antiocho, familiari nostro, dicuntur multo melius et fortius, quam a Stasea dicebantur. Praeclarae mortes sunt imperatoriae;Confecta res esset.Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines.Si longus, levis.Inquit, an parum disserui non verbis Stoicos a Peripateticis, sed universa re et tota sententia dissidere?
                                                p
                                                    | Mihi quidem Homerus huius modi quiddam vidisse videatur in iis, quae de Sirenum cantibus finxerit. Qui igitur convenit ab alia voluptate dicere naturam proficisci, in alia summum bonum ponere? Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Themistocles quidem, cum ei Simonides an quis alius artem memoriae polliceretur, Oblivionis, inquit, mallem. Ad eas enim res ab Epicuro praecepta dantur. Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur.
                                            a.btn.accent(href='#')
                                                | Read more
                            .blog-block
                                .blog-block__content
                                    .blog-block__info
                                        #post-87.post-87.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-uncategorized
                                            h3.title-blog
                                                a(href='#' rel='bookmark') HTML and CSS
                                            .info-post
                                                span.info-post__data
                                                    | Posted on
                                                    a(href='#' rel='bookmark')
                                                        time.entry-date.published(datetime='2019-08-22T17:00:49+00:00') August 22, 2019
                                                        time.updated(datetime='2019-08-29T12:46:07+00:00') August 29, 2019
                                                span.info-post__author
                                                    span.byline
                                                        |  by
                                                        span.author
                                                            a.author-url(href='#')  admin
                                                span  in
                                                span.info-post__category
                                                    a(href='#')  Uncategorized
                                            .img-wrap
                                                img.blog-block__img(alt='' src='img/contest/slide5.jpg')
                                            .blog-block__text
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fadio Gallo, cuius in testamento scriptum esset se ab eo rogatum ut omnis hereditas ad filiam perveniret. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Quod quidem nobis non saepe contingit. Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Duo Reges: constructio interrete. Expressa vero in iis aetatibus, quae iam confirmatae sunt. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum.&nbsp;
                                                    em Itaque his sapiens semper vacabit.
                                                    | Praeclare enim Plato: Beatum, cui etiam in senectute contigerit, ut sapientiam verasque opiniones assequi possit.
                                                p
                                                    | Nec enim, omnes avaritias si aeque avaritias esse dixerimus, sequetur ut etiam aequas esse dicamus. Qua igitur re ab deo vincitur, si aeternitate non vincitur? Quodsi, ne quo incommodo afficiare, non relinques amicum, tamen, ne sine fructu alligatus sis, ut moriatur optabis. Dicam, inquam, et quidem discendi causa magis, quam quo te aut Epicurum reprehensum velim. Ne discipulum abducam, times. Nec vero sum nescius esse utilitatem in historia, non modo voluptatem.
                                                p
                                                p
                                                    | Tu autem, si tibi illa probabantur, cur non propriis verbis ea tenebas? Quaero igitur, quo modo hae tantae commendationes a natura profectae subito a sapientia relictae sint. Et harum quidem rerum facilis est et expedita distinctio.&nbsp;
                                                    strong Et quidem, inquit, vehementer errat;
                                                    | &nbsp;Aliter enim explicari, quod quaeritur,     non potest. Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Quae cum ita sint, effectum est nihil esse malum, quod turpe non sit. Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Iam illud quale tandem est, bona praeterita non effluere sapienti, mala meminisse non oportere? Nunc reliqua videamus, nisi aut ad haec, Cato, dicere aliquid vis aut nos iam longiores sumus.
                                            a.btn.accent(href='#')
                                                | Read more
                            .blog-block
                                .blog-block__content
                                    .blog-block__info
                                        #post-84.post-84.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-uncategorized
                                            h3.title-blog
                                                a(href='#' rel='bookmark') Blog Headline
                                            .info-post
                                                span.info-post__data
                                                    | Posted on
                                                    a(href='#' rel='bookmark')
                                                        time.entry-date.published(datetime='2019-08-20T16:48:05+00:00') August 20, 2019
                                                        time.updated(datetime='2019-08-21T20:39:19+00:00') August 21, 2019
                                                span.info-post__author
                                                    span.byline
                                                        |  by
                                                        span.author
                                                            a.author-url(href='#')  admin
                                                span  in
                                                span.info-post__category
                                                    a(href='#')  Uncategorized
                                            .img-wrap
                                                img.blog-block__img(alt='#' src='img/contest/slide2.jpg')
                                            .blog-block__text
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat aequius Triarium aliquid de dissensione nostra iudicare. Duo Reges: constructio interrete. An me, inquis, tam amentem putas, ut apud imperitos isto modo loquar? Itaque his sapiens semper vacabit.&nbsp;
                                                    a(href='#' target='_blank' rel='noreferrer noopener') Profectus in exilium Tubulus statim nec respondere ausus;
                                                    |  Sed virtutem ipsam inchoavit, nihil amplius. Graece donan, Latine voluptatem vocant. Hic ego: Pomponius quidem, inquam, noster iocari videtur, et fortasse suo iure.
                                                p
                                                    | Isto modo, ne si avia quidem eius nata non esset. Polemoni et iam ante Aristoteli ea prima visa sunt, quae paulo ante dixi. Si enim, ut mihi quidem videtur, non explet bona naturae voluptas, iure praetermissa est; Eam tum adesse, cum dolor omnis absit; Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Sed vos squalidius, illorum vides quam niteat oratio. Non est enim vitium in oratione solum, sed etiam in moribus. Ut in voluptate sit, qui epuletur, in dolore, qui torqueatur.
                                                p
                                                    | Nondum autem explanatum satis, erat, quid maxime natura vellet. Sed tempus est, si videtur, et recta quidem ad me. Erit enim instructus ad mortem contemnendam, ad exilium, ad ipsum etiam dolorem. Quid ergo aliud intellegetur nisi uti ne quae pars naturae neglegatur? Morbo gravissimo affectus, exul, orbus, egens, torqueatur eculeo: quem hunc appellas, Zeno? Princeps huius civitatis Phalereus Demetrius cum patria pulsus esset iniuria, ad Ptolomaeum se regem Alexandream contulit.&nbsp;
                                                    a(href='#' target='_blank' rel='noreferrer noopener') Quid de Platone aut de Democrito loquar?
                                                    strong  Quid ergo?
                                                    strong  Tum Quintus: Est plane, Piso, ut dicis, inquit.
                                                    | &nbsp;Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam.
                                            a.btn.accent(href='#')
                                                | Read more

                        include ../layouts/sidebar/index
            .block__nav
                nav.navigation.pagination
                    .nav-links
                        a.prev.page-numbers(href='#') « Previous
                        a.page-numbers(href='#') 1
                        span.page-numbers.current 2
                        a.page-numbers(href='#') 3
                        a.page-numbers(href='#') 4
                        a.next.page-numbers(href='#') Next »
        include ../layouts/footer/index
        .btn-back
            i.fa.fa-angle-up
        script(src='js/jquery.min.js')
        script(src='js/scripts.min.js')
