doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon' href='img/contest/favicon/favicon.ico' type='image/x-icon')
        link(rel='stylesheet', href='css/main.min.css')

    body.body.page-template-landing-page
        .preloader
            img(src="img/contest/preloader.GIF")
        include ../layouts/header_burger_menu/index

        #primary.content-area(data-animate='on')
            include ../components/slider_owl/index
            include ../components/about/index
            include ../components/services_circle/index
            include ../components/video_block/index
            include ../components/examples/index
            include ../components/price/index
            include ../components/team/index
            include ../components/testimonials/index
            include ../components/news_posts/index
            include ../components/partners/index
            include ../components/contacts_map/index
        include ../layouts/footer/index

        script(src='js/jquery.min.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAtHhoZ5ZxUjlT7tYE629ZD48DrBv0ITxw')
        script(src='js/scripts.min.js')



