// Start Slider Canvas

section.slide-top.slide-canvas
    #canvas
    .slider--info
        .slider--info__in
            .slider--info__content Welcome to Mirax.
            h2.title The easiest way to create your website
            a.btn.accent(target='_blank' href='#')  Read More

    img.slider--mouse(src="img/contest/mouse.svg" alt="")

// End Slider Canvas