<!-- Start News-->

section#news.news.bg-light
    .container__in
        .title.dark-color.wow.fadeInUp(data-wow-delay='.2s') News
        .row.news-content
            .col-lg-6.col-md-12.col-sm-12
                .news-content__left.wow.fadeInLeft(data-wow-delay='.2s')
                    .news-content__info(data-image='img/contest/slide5.jpg')
                        a.news-content__title(href='#') HTML and CSS
                        .news-content__text
                            | The HTML templates that we have here have had a vast team of professional designers sketching, working and executing the ultimate visual look for it. With such a wide range of choices at hand, we strongly advise you to stick to the HTML Template that is based on your business’ or a closely related field. Either way, thanks to all the diversity here you will be able to choose a template that can be either of a formal color scheme with some light colors in it or a more vivid one, featuring bold textures and hues!
            .col-lg-6.col-md-12.col-sm-12
                .news-content__right.wow.fadeInRight(data-wow-delay='.2s')
                    .news-post
                        a.news-content__title(href='#') 10 Reasons To Buy Mirax
                        .content__text
                            | In this article, we would like to share with you why we think Mirax is a perfect template for your website and why you should buy it.
                    .news-post
                        a.news-content__title(href='#') How To Use Bootstrap Framework
                        .content__text
                            | Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web. Here’s how you can use it.
                    .news-post
                        a.news-content__title(href='#') Expert’s Opinion: When Slower UX Is Better UX
                        .content__text
                            | It’s true that 47 percent of people want web pages to load in two seconds or less.
<!-- End News-->
