/* Section News */
@import "../../../sass/vars";

.news {
  padding: 80px 0 110px;
  @media #{$mediaMedium}{
    padding: 60px 0;
  }
  .container__in {
    position: relative;
  }

  .title-bg {
    text-align: center;
  }

  .title-accent {
    margin-top: -60px;
    text-align: center;
  }

  .title {
    padding: 30px 0 0;
    text-align: center;
    @media #{$mediaMedium} {
      text-align: center;
      padding: 0 0 10px;
    }
    @media #{$mediaSmall} {
      text-align: center;
    }
  }

  &-content__info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: #cfcfcf;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    position: relative;
    padding: 60px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);

    @media #{$mediaMedium}{
      height: 400px;
      padding: 20px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, .5);
      transition: .3s;
    }
  }

  &-content {
    padding-top: 40px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    @media #{$mediaSmall}{
      padding-top: 30px;
    }
  }

  &-content__left {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    height: 100%;
    .news-content__title {
      color: $white !important;
      font-weight: bold;
      letter-spacing: .5px;
    }
    .news-content__date {
      color: $white;
    }
  }

  &-content__right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &-content__title {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 1.6;
    color: inherit !important;
    position: relative;
    text-decoration: none;
    display: block;
    &:hover{
      text-decoration: underline;
    }
  }

  &-content__text {
    font-family: $default-font;
    z-index: 1;
    color: $white;
    position: relative;
    overflow: hidden;
  }

  &-post {
    padding: 38px 27px 34px 54px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    position: relative;
    transition: all .3s ease;
    background: $white;
    @media #{$mediaMedium}{
      padding: 30px;
      margin-bottom: 0;
      margin-top: 30px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: .3s;
      background: rgba(0, 0, 0, .0);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.partners__link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}